{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome to StoryForum!</h2>
<p>
<h3>Categories:</h3>
<a href="/category/1">Life</a> - stories about life in general<br><br>
<a href="/category/2">Travel</a> - stories about traveling the world<br><br>
<a href="/category/3">History</a> - stories about history<br><br>
<a href="/category/4">Love</a> - love stories <3<br><br>
<a href="/category/5">Health</a> - stories about your health (good or bad)<br><br>
<a href="/category/6">Other</a> - stories that don't fit in the other categories<br><br>

<a href="/newstory">Write a story</a>
{% endblock %}
