<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StoryForum - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <div id="top">
        <h1>StoryForum</h1>
        {% if session.user_id %}
        You are logged in as: <b>{{ session.user_name }}</b> <a href="/logout">Log out</a> <br>
        <a href="/">Home</a>
        {% else %}
        <a href="/login">Log in</a>
        <a href="/register">Create an account</a>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
  </body>
</html>
